@import 'variables';

.pageAuthenticated {
    flex-direction: column;

    &NoConnection {
        flex: 0 0 auto;
        width: 100%;
        background-color: $red;
        text-align: center;
        color: #fff;
        padding: 10px;
    }

    &Wrapper {
        width: 100%;
        flex: 1 1 auto;
        display: flex;
    }
}