@import 'config';

.authenticatedPageHeader {
    padding: 14px;
    border-bottom: 1px solid $blue;
    text-align: center;

    &Text {
        font-size: 1.2rem;
    }

    &CurrentUserName {
        font-weight: bold;
    }
}