@import '../../../config';

.attachment {
	&__upload-data {
        background-color: rgba($blue, 0.5);
        color: #FFF;
        overflow: hidden;
    }

    &__upload-progress-bar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $blue;
    }
}