@import 'config';

.sidebar {
    width: 20%;
    min-width: 200px;
    max-width: 350px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-right: 1px solid $blue;
    padding-bottom: 10px;
    text-align: center;

    &Header {
        flex: 0 0 auto;
    }

    &Title {
        margin: 20px 0;
        font-size: 1.6rem;
        padding: 0 10px;
    }

    &SearchField {
        width: 100%;
        height: 30px;
        border: none;
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        padding: 0 5px;
        margin-bottom: 20px;
        font-size: 1rem;
    }
}

.buttonLogout {
    font-size: 1rem;
    padding: 10px;
    flex: 0 0 auto;
}

.users {
    overflow-y: auto;
    flex: 1 1 auto;

    &Wrapper {
        padding: 0 10px;
    }

    &Title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &EmptyList {
        font-style: italic;
        margin-bottom: 15px;
    }

    &List {
        margin-bottom: 15px;
        list-style-type: none;
    }

    &SearchQueryMatch {
        font-weight: bold;
        font-size: 1.05rem;
    }
}