@import '../../../config';

.message {

    &__data {
        padding: 5px 15px;
    }

    &--sending &__data {
        opacity: 0.5;
    }

    &--sent &__data:hover &__time {
        display: block;
    }
}