@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    &::selection {
        background-color: $selectionColor;
    }
}

html {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: $smallWidth) {
        font-size: 14px;
    }

    @media (max-width: $extraSmallWidth) {
        font-size: 13px;
    }
}

a {
    color: inherit;
}

input, textarea {
    background-color: #fff;
    border-radius: 0;
}