@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    &::selection {
        background-color: $selectionColor;
    }
}

html {
    font-size: 15px;
}

a {
    color: inherit;
}

input, textarea {
    background-color: #fff;
    border-radius: 0;
}