@import 'variables';

.button {
    background-color: $blue;
    color: #FFF;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.4s;
    transition-property: background-color;
    border: none;
    border-radius: 3px;

    &Disabled {
        opacity: 0.5;
        cursor: not-allowed;
        outline: 0;
    }

    &:not(&Disabled):hover {
        background-color: $darkBlue;
    }

    &Hamburger {
        width: 25px;
        height: 25px;
        border: none;
        background-color: transparent;
        position: relative;
        cursor: pointer;
        border-radius: 0;

        span, &::after, &::before {
            content: '';
            display: block;
            width: 100%;
            height: 20%;
            background-color: $blue;
            margin-bottom: 20%;
            border-radius: 99999px;
        }

        &::after {
            margin-bottom: 0;
        }

        &Closeable {
            span {
                display: none;
            }

            &::after, &::before {
                position: absolute;
                width: 141.4214%;
                top: 50%;
                left: 50%;
                transform-origin: center;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(-45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;

    &Error {
        color: $red;
    }
}

.page {
    display: flex;
    min-height: 100vh;
}