@import 'config';

.button {
    background-color: $blue;
    color: #FFF;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.4s;
    transition-property: background-color;
    border: none;
    border-radius: 0;

    &Disabled {
        opacity: 0.5;
        cursor: not-allowed;
        outline: 0;
    }

    &:not(&Disabled):hover {
        background-color: $darkBlue;
    }
}

.loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;

    &Error {
        color: $red;
    }
}

.page {
    display: flex;
    min-height: 100vh;
}