@import 'config';

.pageUnauthenticated {
    align-items: center;
    justify-content: center;
    position: relative;

    &Wrapper {
        padding: 60px 10px 10px 10px;
        transform: translateY(-30px);
        max-width: 900px!important;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}