@import 'variables';

.imagePreview {
    border: 1px solid $lighterGrey;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    cursor: pointer;

    &My {
        border-radius: 15px 0 0 15px;
    }

    &Wrapper {
        max-height: 70vh;
        display: flex;
        align-items: center;
    }

    &Image {
        width: 100%;
        display: block;
        flex: 0 0 auto;
    }
}