@import 'variables';

.authInput {
    &Wrapper {
        position: relative;
    }

    &LoadingAnimation {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 5px;
        border: 1px solid $blue;
        border-left: none;
        background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1) 70%
        );
    }

    &ErrorsList {
        list-style-type: none;
    }

    &Error {
        font-size: 0.9rem;
        text-align: justify;
        padding-top: 5px;
        color: $red;
    }
}