@import '../config';

.page--not-found {
    align-items: center;
}

.page__wrapper--not-found {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.page__title--not-found {
    font-size: 4.7rem;
}

.page__desc--not-found {
    margin-bottom: 20px;
}

.button--homepage {
    max-width: 300px;
    text-decoration: none;
    padding: 15px;
    display: block;
    margin: auto;
}