.pageNotFound {
    align-items: center;
    padding: 50px 0;

    &Wrapper {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    &Title {
        font-size: 4.7rem;
    }

    &Desc {
        margin-bottom: 20px;
    }
}

.buttonHomepage {
    max-width: 300px;
    text-decoration: none;
    padding: 15px;
    display: block;
    margin: auto;
}